[submodule "lib/colours"]
	path = lib/colours
	url = http://github.com/botanicus/colours.js.git
[submodule "lib/irc"]
	path = lib/irc
	url = git@github.com:halfhalo/Node.js-IRC.git
[submodule "lib/socket"]
	path = lib/socket
	url = http://github.com/LearnBoost/Socket.IO-node.git
